// Base
$base-background: $white;
$base-text-color: $black;
$base-border-color: $grey;

// Header
$header-background: #f7f7f7;
$header-text-color: wcag-color($monochromatic-color-2, 7);
$header-link-color: $monochromatic-color-2;
$header-link-hover: $monochromatic-color-1;

// Messages
$messages-background: $monochromatic-color-1;
$messages-text-color: wcag-color($monochromatic-color-1, 7);

// Breadcrumbs
$breadcrumbs-background: $greyscale-4;
$breadcrumbs-text-color: wcag-color($greyscale-4, 7);
$breadcrumbs-link-color: $greyscale-4;
$breadcrumbs-link-hover: $greyscale-3;

// Hero
$hero-background: $triadic-color-3;
$hero-text-color: #3a3a3a;
$hero-link-color: #3a3a3a;
$hero-link-hover: #3a3a3a;
$hero-button: $triadic-color-3;
$hero-button-hover: $square-color-1;

// News
$news-background:	$white;
$news-text-color:	wcag-color($square-color-2, 7);
$news-link-color: wcag-color($square-color-2, 7);
$news-link-hover: wcag-color($triadic-color-3, 7);
$news-button: $square-color-2;
$news-button-hover: $triadic-color-3;

// Books
$books-background: $complementary-color-2;
$books-text-color: wcag-color($complementary-color-2, 7);
$books-text-color-hover: $greyscale-5;

// Programs
$programs-background: $white;
$programs-text-color:	$off-black;
$programs-link-color: $off-black;
$programs-link-hover: $off-black;
$programs-button: $square-color-1;
$programs-button-hover: $square-color-2;

// Subscribe
$subscribe-background:	$greyscale-2;
$subscribe-text-color:	$greyscale-5;

// Resources
$resources-background:	$white;
$resources-text-color:	wcag-color($complementary-color-1, 7);
$resources-link-color: wcag-color($complementary-color-1, 7);
$resources-link-hover: wcag-color($complementary-color-2, 7);
$resources-button: $complementary-color-1;
$resources-button-hover: $complementary-color-2;

// Main
$main-background:	$white;
$main-text-color:	$off-black;

// Footer
$footer-background: $greyscale-4;
$footer-text-color: $off-white;

// Copyright
$copyright-background: $greyscale-5;
$copyright-text-color: $greyscale-4;

// Off Canvas
$offcanvas-background: $greyscale-4;
$offcanvas-text-color: $off-white;
$offcanvas-toggle-color: $off-white;

// Block Variations
$box1-background: $white;
$box2-background: $greyscale-1;

// System Messsages and Alerts
$success-color: #4b873e;
$warning-color:	adjust-hue($success-color, 290);
$error-color:	adjust-hue($success-color, 250);
$info-color: adjust-hue($success-color, 90);

// Typography
$rule-color: #F0F2F4;
$code-text: #c7254e;
$code-bg: #f9f2f4;
$pre-text: #237794;
$pre-bg: #f6f6f6;

// Borders
$border-color-hover: darken($base-border-color, 10%);
$border-color-focus: $complementary-color-2;

// Shadows
$base-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
