$primary-color: #bea7ff !default;
$white: white;
$black: black;
$off-white: darken(white, 3%);
$off-black: lighten(black, 3%);
$grey: grey;

// Map of luminescence without using exponents
$lum-map: (255:1,254:0.9899,253:0.9799,252:0.9699,251:0.96,250:0.9502,249:0.9405,248:0.9308,247:0.9212,246:0.9116,245:0.9021,244:0.8927,243:0.8833,242:0.874,241:0.8647,240:0.8556,239:0.8464,238:0.8374,237:0.8284,236:0.8194,235:0.8105,234:0.8017,233:0.793,232:0.7843,231:0.7756,230:0.7671,229:0.7585,228:0.7501,227:0.7417,226:0.7334,225:0.7251,224:0.7169,223:0.7087,222:0.7006,221:0.6926,220:0.6846,219:0.6767,218:0.6688,217:0.661,216:0.6532,215:0.6456,214:0.6379,213:0.6303,212:0.6228,211:0.6154,210:0.608,209:0.6006,208:0.5933,207:0.5861,206:0.5789,205:0.5718,204:0.5647,203:0.5577,202:0.5507,201:0.5438,200:0.537,199:0.5302,198:0.5234,197:0.5168,196:0.5101,195:0.5036,194:0.497,193:0.4906,192:0.4842,191:0.4778,190:0.4715,189:0.4652,188:0.459,187:0.4529,186:0.4468,185:0.4407,184:0.4347,183:0.4288,182:0.4229,181:0.4171,180:0.4113,179:0.4055,178:0.3998,177:0.3942,176:0.3886,175:0.3831,174:0.3776,173:0.3722,172:0.3668,171:0.3615,170:0.3562,169:0.3509,168:0.3457,167:0.3406,166:0.3355,165:0.3305,164:0.3255,163:0.3205,162:0.3156,161:0.3108,160:0.306,159:0.3012,158:0.2965,157:0.2918,156:0.2872,155:0.2827,154:0.2781,153:0.2737,152:0.2692,151:0.2648,150:0.2605,149:0.2562,148:0.252,147:0.2477,146:0.2436,145:0.2395,144:0.2354,143:0.2314,142:0.2274,141:0.2234,140:0.2195,139:0.2157,138:0.2119,137:0.2081,136:0.2044,135:0.2007,134:0.1971,133:0.1935,132:0.1899,131:0.1864,130:0.1829,129:0.1795,128:0.1761,127:0.1727,126:0.1694,125:0.1662,124:0.1629,123:0.1597,122:0.1566,121:0.1535,120:0.1504,119:0.1474,118:0.1444,117:0.1414,116:0.1385,115:0.1356,114:0.1328,113:0.13,112:0.1272,111:0.1245,110:0.1218,109:0.1192,108:0.1165,107:0.114,106:0.1114,105:0.1089,104:0.1064,103:0.104,102:0.1016,101:0.0993,100:0.0969,99:0.0946,98:0.0924,97:0.0901,96:0.088,95:0.0858,94:0.0837,93:0.0816,92:0.0795,91:0.0775,90:0.0755,89:0.0736,88:0.0716,87:0.0697,86:0.0679,85:0.066,84:0.0642,83:0.0625,82:0.0607,81:0.059,80:0.0574,79:0.0557,78:0.0541,77:0.0525,76:0.051,75:0.0494,74:0.0479,73:0.0465,72:0.045,71:0.0436,70:0.0422,69:0.0409,68:0.0396,67:0.0383,66:0.037,65:0.0357,64:0.0345,63:0.0333,62:0.0322,61:0.031,60:0.0299,59:0.0288,58:0.0278,57:0.0267,56:0.0257,55:0.0247,54:0.0238,53:0.0228,52:0.0219,51:0.021,50:0.0151,49:0.0148,48:0.0145,47:0.0142,46:0.0139,45:0.0136,44:0.0133,43:0.013,42:0.0127,41:0.0124,40:0.0121,39:0.0118,38:0.0115,37:0.0112,36:0.0109,35:0.0106,34:0.0103,33:0.01,32:0.0097,31:0.0094,30:0.0091,29:0.0088,28:0.0084,27:0.0081,26:0.0078,25:0.0075,24:0.0072,23:0.0069,22:0.0066,21:0.0063,20:0.006,19:0.0057,18:0.0054,17:0.0051,16:0.0048,15:0.0045,14:0.0042,13:0.0039,12:0.0036,11:0.0033,10:0.003,9:0.0027,8:0.0024,7:0.0021,6:0.0018,5:0.0015,4:0.0012,3:0.0009,2:0.0006,1:0.0003,0:0);

// Map of reflection without using exponents
$ref-map: (255:0.3333,254:0.3299,253:0.3266,252:0.3233,251:0.32,250:0.3167,249:0.3135,248:0.3102,247:0.307,246:0.3038,245:0.3007,244:0.2975,243:0.2944,242:0.2913,241:0.2882,240:0.2852,239:0.2821,238:0.2791,237:0.2761,236:0.2731,235:0.2701,234:0.2672,233:0.2643,232:0.2614,231:0.2585,230:0.2557,229:0.2528,228:0.25,227:0.2472,226:0.2444,225:0.2417,224:0.2389,223:0.2362,222:0.2335,221:0.2308,220:0.2282,219:0.2255,218:0.2229,217:0.2203,216:0.2177,215:0.2152,214:0.2126,213:0.2101,212:0.2076,211:0.2051,210:0.2026,209:0.2002,208:0.1977,207:0.1953,206:0.1929,205:0.1906,204:0.1882,203:0.1859,202:0.1835,201:0.1812,200:0.179,199:0.1767,198:0.1744,197:0.1722,196:0.17,195:0.1678,194:0.1656,193:0.1635,192:0.1614,191:0.1592,190:0.1571,189:0.155,188:0.153,187:0.1509,186:0.1489,185:0.1469,184:0.1449,183:0.1429,182:0.1409,181:0.139,180:0.1371,179:0.1351,178:0.1332,177:0.1314,176:0.1295,175:0.1277,174:0.1258,173:0.124,172:0.1222,171:0.1205,170:0.1187,169:0.1169,168:0.1152,167:0.1135,166:0.1118,165:0.1101,164:0.1085,163:0.1068,162:0.1052,161:0.1036,160:0.102,159:0.1004,158:0.0988,157:0.0972,156:0.0957,155:0.0942,154:0.0927,153:0.0912,152:0.0897,151:0.0882,150:0.0868,149:0.0854,148:0.084,147:0.0825,146:0.0812,145:0.0798,144:0.0784,143:0.0771,142:0.0758,141:0.0744,140:0.0731,139:0.0719,138:0.0706,137:0.0693,136:0.0681,135:0.0669,134:0.0657,133:0.0645,132:0.0633,131:0.0621,130:0.0609,129:0.0598,128:0.0587,127:0.0575,126:0.0564,125:0.0554,124:0.0543,123:0.0532,122:0.0522,121:0.0511,120:0.0501,119:0.0491,118:0.0481,117:0.0471,116:0.0461,115:0.0452,114:0.0442,113:0.0433,112:0.0424,111:0.0415,110:0.0406,109:0.0397,108:0.0388,107:0.038,106:0.0371,105:0.0363,104:0.0354,103:0.0346,102:0.0338,101:0.0331,100:0.0323,99:0.0315,98:0.0308,97:0.03,96:0.0293,95:0.0286,94:0.0279,93:0.0272,92:0.0265,91:0.0258,90:0.0251,89:0.0245,88:0.0238,87:0.0232,86:0.0226,85:0.022,84:0.0214,83:0.0208,82:0.0202,81:0.0196,80:0.0191,79:0.0185,78:0.018,77:0.0175,76:0.017,75:0.0164,74:0.0159,73:0.0155,72:0.015,71:0.0145,70:0.014,69:0.0136,68:0.0132,67:0.0127,66:0.0123,65:0.0119,64:0.0115,63:0.0111,62:0.0107,61:0.0103,60:0.0099,59:0.0096,58:0.0092,57:0.0089,56:0.0085,55:0.0082,54:0.0079,53:0.0076,52:0.0073,51:0.007,50:0.005,49:0.0049,48:0.0048,47:0.0047,46:0.0046,45:0.0045,44:0.0044,43:0.0043,42:0.0042,41:0.0041,40:0.004,39:0.0039,38:0.0038,37:0.0037,36:0.0036,35:0.0035,34:0.0034,33:0.0033,32:0.0032,31:0.0031,30:0.003,29:0.0029,28:0.0028,27:0.0027,26:0.0026,25:0.0025,24:0.0024,23:0.0023,22:0.0022,21:0.0021,20:0.002,19:0.0019,18:0.0018,17:0.0017,16:0.0016,15:0.0015,14:0.0014,13:0.0013,12:0.0012,11:0.0011,10:0.001,9:0.0009,8:0.0008,7:0.0007,6:0.0006,5:0.0005,4:0.0004,3:0.0003,2:0.0002,1:0.0001,0:0);

// Returns raw luminescence calculation of a single color
@function color-lumin($color-a) {
  $r: red($color-a);
  $g: green($color-a);
  $b: blue($color-a);
  $rr: round($r);
  $gr: round($g);
  $br: round($b);
  $rm: map-get($lum-map, $rr);
  $gm: map-get($lum-map, $gr);
  $bm: map-get($lum-map, $br);
  $lum: ($rm * 0.2) + ($gm * 0.7) + ($bm * 0.1) + 0.05;
  @return $lum;
}

// Returns raw reflection calculation of a single color
@function color-reflc($color-a) {
  $r: red($color-a);
  $g: green($color-a);
  $b: blue($color-a);
  $rr: round($r);
  $gr: round($g);
  $br: round($b);
  $rm: map-get($ref-map, $rr);
  $gm: map-get($ref-map, $gr);
  $bm: map-get($ref-map, $br);
  $lum: ($rm * 0.3333) + ($gm * 0.3333) + ($bm * 0.3333) + 0.05;
  @return $lum;
}

// Returns completed color compare with updated forumlas
@function compare-color($color-b, $color-c) {
  $lum1: color-lumin($color-b);
  $lum2: color-lumin($color-c);
  $ref1: color-reflc($color-b);
  $ref2: color-reflc($color-c);
  @if ($lum1 > $lum2) {
      $lumtot: $lum1 / $lum2;
  } @else {
      $lumtot: $lum2 / $lum1;
  }
  @if ($ref1 > $ref2) {
      $reftot: $ref1 / $ref2;
  } @else {
      $reftot: $ref2 / $ref1;
  }
  @return $lumtot * $reftot;
}

@function text-color-compare($color-b) {
  $g: green($color-b);
  @if ($g > 128) {
      @return #080808;
  } @else {
      @return #f7f7f7;
  }
}

// Brings outlying colors into declared contrast requirements
@function color-fix($color-d) {
  $compare: compare-color($color-d, #ffffff);
  $count: 100;
  @if ($compare < 10) {
    @while ($compare < 10) {
      $count: $count - 0.3921;
      $color-d: mix($color-d, #000000, $count);
      $compare: compare-color($color-d, #ffffff);
      @if ($color-d == #000000) {
        $compare: 10;
      }
    }
    @return $color-d;
  } @else {
    @return $color-d;
  }
}

$primary-color-fixed: color-fix($primary-color);
$complementary-color-1: $primary-color-fixed;
$complementary-color-2-pre: ryb-adjust-hue($primary-color-fixed, 180);
$complementary-color-2: color-fix($complementary-color-2-pre);
$monochromatic-color-1-pre: lighten($primary-color-fixed, 10%);
$monochromatic-color-1: color-fix($monochromatic-color-1-pre);
$monochromatic-color-2: $primary-color-fixed;
$monochromatic-color-3-pre: darken($primary-color-fixed, 10%);
$monochromatic-color-3: color-fix($monochromatic-color-3-pre);
$analogous-color-1-pre: ryb-adjust-hue($primary-color-fixed, -30);
$analogous-color-1: color-fix($analogous-color-1-pre);
$analogous-color-2: $primary-color-fixed;
$analogous-color-3-pre: ryb-adjust-hue($primary-color-fixed, 30);
$analogous-color-3: color-fix($analogous-color-3-pre);
$triadic-color-1: $primary-color-fixed;
$triadic-color-2-pre: ryb-adjust-hue($primary-color-fixed, 120);
$triadic-color-2: color-fix($triadic-color-2-pre);
$triadic-color-3-pre: ryb-adjust-hue($primary-color-fixed, 240);
$triadic-color-3: color-fix($triadic-color-3-pre);
$tetradic-color-1: $analogous-color-1;
$tetradic-color-2: $analogous-color-3;
$tetradic-color-3-pre: ryb-adjust-hue($analogous-color-1, 180);
$tetradic-color-3: color-fix($tetradic-color-3-pre);
$tetradic-color-4-pre: ryb-adjust-hue($analogous-color-3, 180);
$tetradic-color-4: color-fix($tetradic-color-4-pre);
$square-color-1: $primary-color-fixed;
$square-color-2-pre: ryb-adjust-hue($primary-color-fixed, 90);
$square-color-2: color-fix($square-color-2-pre);
$square-color-3-pre: ryb-adjust-hue($primary-color-fixed, 180);
$square-color-3: color-fix($square-color-3-pre);
$square-color-4-pre: ryb-adjust-hue($primary-color-fixed, 270);
$square-color-4: color-fix($square-color-4-pre);
$greyscale-1: #e9e9e9;
$greyscale-2: #dfdfdf;
$greyscale-3: #d2d2d2;
$greyscale-4: #a0a0a0;
$greyscale-5: #2c2c2c;
