.sp-color-1-5 {
	color: $penta-0 !important;
	&:hover {
		color: $penta-0-35 !important;
		text-shadow: 0px 0px 1px $greyscale-2;
	}
}

.sp-color-2-5 {
	color: $penta-72 !important;
	&:hover {
		color: $penta-72-35 !important;
		text-shadow: 0px 0px 1px $greyscale-2;
	}
}

.sp-color-3-5 {
	color: $penta-144 !important;
	&:hover {
		color: $penta-144-35 !important;
		text-shadow: 0px 0px 1px $greyscale-2;
	}
}

.sp-color-4-5 {
	color: $penta-216 !important;
	a{
		&:hover {
			color: $penta-216-35 !important;
			text-shadow: 0px 0px 1px $greyscale-2;
		}
	}
}

.sp-color-5-5 {
	color: $penta-288 !important;
	&:hover {
		color: $penta-288-35 !important;
		text-shadow: 0px 0px 1px $greyscale-2;
	}
}

.sp-grey-1-5 {
	color: $greyscale-1 !important;
}

.sp-grey-2-5 {
	color: $greyscale-2 !important;
}

.sp-grey-3-5 {
	color: $greyscale-3 !important;
	a {
		color: $greyscale-3 !important;
	}
}

.sp-grey-4-5 {
	color: $greyscale-4 !important;
}

.sp-grey-5-5 {
	color: $greyscale-5 !important;
}


.sp-background-1-5 {
	background: $penta-0 !important;
}

.sp-background-2-5 {
	background: $penta-72 !important;
}

.sp-background-3-5 {
	background: $penta-144 !important;
}

.sp-background-4-5 {
	background: $penta-216 !important;
}

.sp-background-5-5 {
	background: $penta-288 !important;
}


.sp-background-g1-5 {
	background: $greyscale-1 !important;
}

.sp-background-g2-5 {
	background: $greyscale-2 !important;
}

.sp-background-g3-5 {
	background: $greyscale-3 !important;
}

.sp-background-g4-5 {
	background: $greyscale-4 !important;
}

.sp-background-g5-5 {
	background: $greyscale-5 !important;
}

.sp-white {
	color: $off-white !important;
	a {
		color: $off-white !important;
	}
}

.sp-black {
	color: $off-black !important;
}
