{% extends "partials/page.html.twig" %}

{% block javascript %}
    <script type="text/javascript" async="async" src="{{ url('gantry-admin://assets/js/uikit.min.js') }}"></script>
    <script type="text/javascript" async="async" src="{{ url('gantry-admin://assets/js/uikit-icons.min.js') }}"></script>
{% endblock %}

{% set twigTemplate = 'page.html.twig' %}
{% set scope = 'page' %}

{% block content %}

    <div class="platform-content">
        <div class="content-wrapper">
            <section class="entry">

                {% include ['partials/content-' ~ scope ~ '.html.twig', 'partials/content.html.twig'] %}

            </section>
        </div> <!-- /content-wrapper -->
    </div>

{% endblock %}
