{% extends '@nucleus/partials/particle.html.twig' %}

{% set seqc = [0, 2, 4, 6, 8, 10] %}

{% block particle %}
<div class="uk-grid-small uk-child-width-expand@s uk-text-center uk-margin-bottom" uk-grid>
    <div>
      <table class="uk-table uk-table-divider">
        <tbody>
          {% for num in seqc %}
          {% set amount = '+' ~ num ~ ' month' %}
          {% set datecc = "now"|date_modify(amount)|date("n,j,Y") %}
          <tr>
            <td><span uk-icon="icon: calendar"></span></td>
            <td>{{ boardmeet(datecc) }}{% set findmon = boardmeet(datecc)|split(' ') %}{% if findmon[0] == "October" %}<br><span class="uk-text-meta uk-text-bold">Annual Meeting (tentative)</span>{% endif %}</td>
            <td class="uk-padding-remove uk-text-small uk-text-bold"></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}
