{% extends '@nucleus/partials/particle.html.twig' %}

{% set query_parameters = {
  'post_type': 'attachment',
  'post_status': 'inherit',
  'post_mime_type': 'application/pdf',
  's': 'bmd',
  'posts_per_page': 1,
} %}

{% set posts = wordpress.query_posts(query_parameters) %}

{% set dateys = boardmeet(particle.freq, particle.dayofweek, particle.evenodd, particle.excep) %}

{% block particle %}
<div class="uk-grid-small uk-child-width-expand@s uk-text-center uk-margin-bottom" uk-grid>
    <div>
      <table class="uk-table uk-table-divider">
        <tbody>
          {% for value in dateys %}
          <tr>
            <td><span uk-icon="icon: calendar"></span></td>
            <td>{{ value }}{% if particle.addmonth and value starts with particle.addtext %}<br><span class="uk-text-meta uk-text-bold">{{ particle.addtext }}</span>{% endif %}</td>
            <td class="uk-padding-remove uk-text-small uk-text-bold"></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}
