{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div class="uk-breadcrumb" typeof="BreadcrumbList" vocab="http://schema.org/">
    {% do gantry.platform.call('bcn_display') %}
</div>
{% endblock %}
