{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
    {{ gantry.platform.call('bcn_display') }}
</div>
{% endblock %}
