{% extends '@nucleus/partials/particle.html.twig' %}

{% set title = site.url|replace({"http://": "", "https://": "", "http://www.": "", "https://www.": ""})|e %}
{% if title = 'wnyls.org' %}
  {% set title = 'cclsny.org' %}
{% endif %}

{% block particle %}
<div>
  <form class="uk-search uk-search-navbar" role="search" name="searchform" method="get" action="https://catalog.{{ title|e }}/cgi-bin/koha/opac-search.pl">
    <button class="uk-search-icon-flip" type="submit" id="searchsubmit" value="Search" uk-search-icon></button>
    <input class="uk-search-input" id="translControl1" name="q" type="text" placeholder="Search the catalog...">
  </form>
</div>
{% endblock %}
