{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div>
  <table class="uk-table">
    <tbody>
      <tr>
        <td class="penta-0">penta-0</td>
        <td class="penta-72">penta-72</td>
        <td class="penta-144">penta-144</td>
        <td class="penta-216">penta-216</td>
        <td class="penta-288">penta-288</td>
        <td class="greyscale-1">greyscale-1</td>
        <td class="greyscale-2">greyscale-2</td>
		<td class="greyscale-3">greyscale-3</td>
        <td class="greyscale-4">greyscale-4</td>
        <td class="greyscale-5">greyscale-5</td>
	  </tr>
	  <tr>
        <td class="penta-0-protanopia">penta-0-protanopia</td>
        <td class="penta-72-protanopia">penta-72-protanopia</td>
        <td class="penta-144-protanopia">penta-144-protanopia</td>
        <td class="penta-216-protanopia">penta-216-protanopia</td>
        <td class="penta-288-protanopia">penta-288-protanopia</td>
        <td class="greyscale-1-protanopia">greyscale-1-protanopia</td>
        <td class="greyscale-2-protanopia">greyscale-2-protanopia</td>
		<td class="greyscale-3-protanopia">greyscale-3-protanopia</td>
        <td class="greyscale-4-protanopia">greyscale-4-protanopia</td>
        <td class="greyscale-5-protanopia">greyscale-5-protanopia</td>
	  </tr>
	  <tr>
        <td class="penta-0-protanomaly">penta-0-protanomaly</td>
        <td class="penta-72-protanomaly">penta-72-protanomaly</td>
        <td class="penta-144-protanomaly">penta-144-protanomaly</td>
        <td class="penta-216-protanomaly">penta-216-protanomaly</td>
        <td class="penta-288-protanomaly">penta-288-protanomaly</td>
        <td class="greyscale-1-protanomaly">greyscale-1-protanomaly</td>
        <td class="greyscale-2-protanomaly">greyscale-2-protanomaly</td>
		<td class="greyscale-3-protanomaly">greyscale-3-protanomaly</td>
        <td class="greyscale-4-protanomaly">greyscale-4-protanomaly</td>
        <td class="greyscale-5-protanomaly">greyscale-5-protanomaly</td>
	  </tr>
	  <tr>
        <td class="penta-0-deuteranopia">penta-0-deuteranopia</td>
        <td class="penta-72-deuteranopia">penta-72-deuteranopia</td>
        <td class="penta-144-deuteranopia">penta-144-deuteranopia</td>
        <td class="penta-216-deuteranopia">penta-216-deuteranopia</td>
        <td class="penta-288-deuteranopia">penta-288-deuteranopia</td>
        <td class="greyscale-1-deuteranopia">greyscale-1-deuteranopia</td>
        <td class="greyscale-2-deuteranopia">greyscale-2-deuteranopia</td>
		<td class="greyscale-3-deuteranopia">greyscale-3-deuteranopia</td>
        <td class="greyscale-4-deuteranopia">greyscale-4-deuteranopia</td>
        <td class="greyscale-5-deuteranopia">greyscale-5-deuteranopia</td>
	  </tr>
	  <tr>
        <td class="penta-0-deuteranomaly">penta-0-deuteranomaly</td>
        <td class="penta-72-deuteranomaly">penta-72-deuteranomaly</td>
        <td class="penta-144-deuteranomaly">penta-144-deuteranomaly</td>
        <td class="penta-216-deuteranomaly">penta-216-deuteranomaly</td>
        <td class="penta-288-deuteranomaly">penta-288-deuteranomaly</td>
        <td class="greyscale-1-deuteranomaly">greyscale-1-deuteranomaly</td>
        <td class="greyscale-2-deuteranomaly">greyscale-2-deuteranomaly</td>
		<td class="greyscale-3-deuteranomaly">greyscale-3-deuteranomaly</td>
        <td class="greyscale-4-deuteranomaly">greyscale-4-deuteranomaly</td>
        <td class="greyscale-5-deuteranomaly">greyscale-5-deuteranomaly</td>
	  </tr>
	  <tr>
        <td class="penta-0-tritanopia">penta-0-tritanopia</td>
        <td class="penta-72-tritanopia">penta-72-tritanopia</td>
        <td class="penta-144-tritanopia">penta-144-tritanopia</td>
        <td class="penta-216-tritanopia">penta-216-tritanopia</td>
        <td class="penta-288-tritanopia">penta-288-tritanopia</td>
        <td class="greyscale-1-tritanopia">greyscale-1-tritanopia</td>
        <td class="greyscale-2-tritanopia">greyscale-2-tritanopia</td>
		<td class="greyscale-3-tritanopia">greyscale-3-tritanopia</td>
        <td class="greyscale-4-tritanopia">greyscale-4-tritanopia</td>
        <td class="greyscale-5-tritanopia">greyscale-5-tritanopia</td>
	  </tr>
	  <tr>
        <td class="penta-0-tritanomaly">penta-0-tritanomaly</td>
        <td class="penta-72-tritanomaly">penta-72-tritanomaly</td>
        <td class="penta-144-tritanomaly">penta-144-tritanomaly</td>
        <td class="penta-216-tritanomaly">penta-216-tritanomaly</td>
        <td class="penta-288-tritanomaly">penta-288-tritanomaly</td>
        <td class="greyscale-1-tritanomaly">greyscale-1-tritanomaly</td>
        <td class="greyscale-2-tritanomaly">greyscale-2-tritanomaly</td>
		<td class="greyscale-3-tritanomaly">greyscale-3-tritanomaly</td>
        <td class="greyscale-4-tritanomaly">greyscale-4-tritanomaly</td>
        <td class="greyscale-5-tritanomaly">greyscale-5-tritanomaly</td>
	  </tr>
	  <tr>
        <td class="penta-0-achromatopsia">penta-0-achromatopsia</td>
        <td class="penta-72-achromatopsia">penta-72-achromatopsia</td>
        <td class="penta-144-achromatopsia">penta-144-achromatopsia</td>
        <td class="penta-216-achromatopsia">penta-216-achromatopsia</td>
        <td class="penta-288-achromatopsia">penta-288-achromatopsia</td>
        <td class="greyscale-1-achromatopsia">greyscale-1-achromatopsia</td>
        <td class="greyscale-2-achromatopsia">greyscale-2-achromatopsia</td>
		<td class="greyscale-3-achromatopsia">greyscale-3-achromatopsia</td>
        <td class="greyscale-4-achromatopsia">greyscale-4-achromatopsia</td>
        <td class="greyscale-5-achromatopsia">greyscale-5-achromatopsia</td>
	  </tr>
	  <tr>
        <td class="penta-0-achromatomaly">penta-0-achromatomaly</td>
        <td class="penta-72-achromatomaly">penta-72-achromatomaly</td>
        <td class="penta-144-achromatomaly">penta-144-achromatomaly</td>
        <td class="penta-216-achromatomaly">penta-216-achromatomaly</td>
        <td class="penta-288-achromatomaly">penta-288-achromatomaly</td>
        <td class="greyscale-1-achromatomaly">greyscale-1-achromatomaly</td>
        <td class="greyscale-2-achromatomaly">greyscale-2-achromatomaly</td>
		<td class="greyscale-3-achromatomaly">greyscale-3-achromatomaly</td>
        <td class="greyscale-4-achromatomaly">greyscale-4-achromatomaly</td>
        <td class="greyscale-5-achromatomaly">greyscale-5-achromatomaly</td>
	  </tr>
    </tbody>
  </table>
</div>
{% endblock %}
