{% extends '@nucleus/partials/particle.html.twig' %}

{% set url = site.url %}
{% set telephone = '716-664-6675' %}
{% set fax = '716-484-1205' %}
{% set email = 'info@cclsny.org' %}
{% set street = '106 West Fifth Street' %}
{% set csz = 'Jamestown, NY 14701' %}
{% set facebook = 'chacattlibrarysystem' %}
{% set twitter = 'librarysystem' %}
{% set youtube = 'UCpNowQPwbu-4Ih1bGnLN7Yw' %}
{% set instagram = 'cclsny' %}
{% set pinterest = 'yscblair' %}
{% switch url %}
  {% case 'http://ahirahall.org' or 'https://ahirahall.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://alleganylibrary.org' or 'https://alleganylibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://andersonleelibrary.org' or 'https://andersonleelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://ashvillelibrary.com' or 'https://ashvillelibrary.com' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://barkerlibrary.org' or 'https://barkerlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://bemuspointlibrary.org' or 'https://bemuspointlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://cattarauguslibrary.org' or 'https://cattarauguslibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://cfclibrary.org' or 'https://cfclibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://delevanlibrary.org' or 'https://delevanlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://dunkirklibrary.org' or 'https://dunkirklibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://ellicottvillelibrary.org' or 'https://ellicottvillelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://ellingtonlibrary.org' or 'https://ellingtonlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://falconerlibrary.org' or 'https://falconerlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://findleylibrary.org' or 'https://findleylibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://fluvannalibrary.org' or 'https://fluvannalibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://franklinvillelibrary.org' or 'https://franklinvillelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://gowandalibrary.org' or 'https://gowandalibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://hazeltinelibrary.org' or 'https://hazeltinelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://kennedyfreelibrary.org' or 'https://kennedyfreelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://lakewoodlibrary.org' or 'https://lakewoodlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://littlevalleylibrary.org' or 'https://littlevalleylibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://machiaslibrary.org' or 'https://machiaslibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://mayvillelibrary.com' or 'https://mayvillelibrary.com' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://minervalibrary.org' or 'https://minervalibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://myerslibrary.org' or 'https://myerslibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://oleanlibrary.org' or 'https://oleanlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://pattersonlibrary.org' or 'https://pattersonlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://portvillelibrary.org' or 'https://portvillelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://prendergastlibrary.org' or 'https://prendergastlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://randolphlibrary.info' or 'https://randolphlibrary.info' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://ripleylibrary.org' or 'https://ripleylibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://salamancalibrary.org' or 'https://salamancalibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://senecalibraries.org' or 'https://senecalibraries.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://sinclairvillelibrary.org' or 'https://sinclairvillelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://stocktonlibraries.org' or 'https://stocktonlibraries.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://wnyls.org' or 'https://wnyls.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% default %}
    {% set telephone = '716-664-6675' %}
    {% set fax = '716-484-1205' %}
    {% set email = 'info@cclsny.org' %}
    {% set street = '106 West Fifth Street' %}
    {% set csz = 'Jamestown, NY 14701' %}
    {% set facebook = 'chacattlibrarysystem' %}
    {% set twitter = 'librarysystem' %}
    {% set youtube = 'UCpNowQPwbu-4Ih1bGnLN7Yw' %}
    {% set instagram = 'cclsny' %}
    {% set pinterest = 'yscblair' %}
{% endswitch %}

{% block particle %}

<div>
    <ul class="uk-iconnav">
        <li>
        <a href="https://www.facebook.com/{{ facebook|e }}" target="_blank"><button id="sp-nav" class="uk-button uk-button-link" type="button"><span uk-icon="icon: facebook; ratio: 1.5"></span></button></a>
        </li>
        <li>
        <a href="https://www.instagram.com/{{ instagram|e }}" target="_blank"><button id="sp-nav" class="uk-button uk-button-link" type="button"><span uk-icon="icon: instagram; ratio: 1.5"></span></button></a>
        </li>
        <li>
        <a href="https://www.twitter.com/{{ twitter|e }}" target="_blank"><button id="sp-nav" class="uk-button uk-button-link" type="button"><span uk-icon="icon: twitter; ratio: 1.5"></span></button></a>
        </li>
    </ul>
</div>

{% endblock %}
