{% extends '@nucleus/partials/particle.html.twig' %}

{% set attr_extra = particle.extra | attribute_array %}
{% set post_settings = particle.post %}
{% set filter = post_settings.filter %}
{% set sort = post_settings.sort %}
{% set limit = post_settings.limit %}
{% set start = limit.start + max(0, ajax.start | int) %}
{% set display = post_settings.display %}

{# Sticky Posts #}
{% set sticky_posts = filter.sticky
  ? false
  : true %}

{# Query Posts #}
{% set query_parameters = {
  'post_type': 'databases',
  'posts_per_page': limit.total | default('4'),
  'offset': start,
  'orderby': sort.orderby,
  'order': sort.ordering,
  'ignore_sticky_posts': sticky_posts
} %}

{% if filter.posts %}
  {% set query_parameters = query_parameters | merge({
    'post__in': filter.posts | replace({' ': ',', ', ': ','}) | split(',')
  }) %}
{% else %}
  {% set query_parameters = query_parameters | merge({
    'cat': filter.categories | replace({' ': ',', ', ': ','})
  }) %}
{% endif %}

{% set posts = wordpress.query_posts(query_parameters) %}
{% set total = posts.get_pagination([]).total | abs %}
{% set total = max(posts | length, (total * max(0, limit.total))) %}

{% block particle %}

{# All Posts #}
<div class="sp-databases-title"><span class="sp-databases-title-icon" uk-icon="icon: more-vertical; ratio: 2"></span>Digital Resources</div>
  <div>

    {% for column in posts | batch (limit.columns) %}
      <div class="uk-child-width-1-4@l uk-child-width-1-2@s uk-child-width-1-1 uk-grid">
        {% for post in column %}
          <div class="uk-light">
            <div class="uk-inline-clip uk-transition-toggle">
              <a href="{{ post.link|raw }}">
                <img class="uk-transition-scale-up uk-transition-opaque uk-border-rounded" src="{{ url(post.thumbnail.src) }}" alt="Beauty Image">
                <div class="uk-position-cover uk-overlay-default uk-transition-slide-left-medium"></div>
                <div class="uk-position-center">
                  <div class="uk-overlay uk-transition-slide-left-medium uk-margin-remove-first-child">
                    <h2 class="uk-margin-remove-bottom uk-h2 uk-margin-top uk-text-bold" style="color:black;">{{ display.title.limit ? post.title|raw : post.title|raw }}</h2>
                    <div class="uk-panel uk-margin-top" style="color:black;">{{ post.post_excerpt }}</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

{% endblock %}
