{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div class="sp_subscribe_block">
  <div><bold>Subscribe to our newsletter</bold><br>Sign up for library updates, information on upcoming events and more.</div>
  <div><a href="{{ particle.mailchimp.url|e }}" class="sp_subscribe_button">Subscribe <span uk-icon="icon: chevron-right; ratio: 1.5"></span></a></div>
  <div></div>
</div>
{% endblock %}
