{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div class="uk-grid">
  <div class="uk-width-1-2@m uk-width-1-1"><div class="uk-text-lead">{{ particle.title|e }}</div>{{ particle.description|e }}</div>
  <div class="uk-width-1-2@m uk-width-1-1"><div class="uk-flex uk-flex-right uk-flex-left@m uk-padding-small"><a class="uk-button uk-button-default" href="{{ particle.mailchimp.url|e }}">Subscribe <span uk-icon="icon: chevron-right; ratio: 1.5"></span></a></div></div>
</div>
{% endblock %}
