#g-books {
	background: linear-gradient(10deg, $penta-144 0%, (darken($penta-144, 5)) 100%);
	color: $off-white;
	a {
		color: $off-white;
		&:hover {
			color: $off-white;
		}
	}
}

@media print {
	#g-books {
		background: #fff !important;
		color: #000 !important;
	}
}

.sp-book-title {
	line-height: 1.15;
	&:hover {
		color: $greyscale-2 !important;
	}
}

.sp-bookshelves-text {
	line-height: 1.15 !important;
	color: $off-white !important;
}
