#g-books {
	background: linear-gradient(10deg, $books-background 0%, $books-background-2 100%);
	color: $books-text-color;
	position: relative;
	z-index: 3;

	a {
		&:hover {
			color: $books-text-color-hover;
		}
	}

	.search {
		input {
			color: $main-text-color;
		}
	}
}

@media print {
	#g-books {
		background: #fff !important;
		color: #000 !important;
	}
}

.sp-bookshelves-hover {
	&:hover {
		color: $off-black;
	}
}

.sp-books-text {
	font-size: 4rem;
	line-height: 0.8;
	font-weight: 700;
	font-variant: small-caps;
	letter-spacing: 2px;
}
