#g-breadcrumbs {
	background: $greyscale-1;
	color: $off-white;
	a {
		color: $off-white;
		&:hover {
			color: $off-white;
			text-decoration: underline !important;
		}
	}
}

@media print {
	#g-breadcrumbs {
		background: #fff !important;
		color: #000 !important;
	}
}
