#g-copyright {
	background: $greyscale-5;
	color: $greyscale-2;
	font-size: 0.8rem;
	padding: 0.25rem 0;
	a {
		color: $greyscale-2;
		&:hover {
			color: $greyscale-1 !important;
			text-decoration: underline;
		}
	}
}

@media print {
	#g-copyright {
		background: #000 !important;
		color: #fff !important;
	}
}
