#g-footer {
	background: linear-gradient(10deg, $greyscale-3 0%, (darken($greyscale-3, 5)) 100%);
	color: $off-white;
}

@media print {
	#g-footer {
		background: #aaa !important;
		color: #fff !important;
	}
}

.op-overview-title, .op-closed {
	color: $off-white !important;
}

.op-table-overview, .op-cell-heading, .op-cell-periods {
	border: unset;
	background: unset;
	padding: unset;
	font-size: unset;
}

.op-cell {
	padding: 0.2rem 0;
	@include breakpoint(small-mobile-range) {
		padding: 0.2rem 1rem;
	}
}

#sp-fb {
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	color: $greyscale-1;
	background: transparent;
	&:hover {
		transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-webkit-transition: .25s ease-in-out;
		color: $off-white;
		background: linear-gradient(180deg, rgba(25,172,255,1) 0%, rgba(0,99,224,1) 100%);
	}
}

#sp-in {
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	color: $greyscale-1;
	background: transparent;
	&:hover {
		transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-webkit-transition: .25s ease-in-out;
		color: $off-white;
		background: linear-gradient(17deg, rgba(255,196,0,1) 8%, rgba(255,61,17,1) 39%, rgba(254,0,191,1) 53%, rgba(131,11,253,1) 83%);
	}
}

#sp-tw {
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	color: $greyscale-1;
	background: transparent;
	&:hover {
		transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-webkit-transition: .25s ease-in-out;
		color: $off-white;
		background: #179bf0;
	}
}

#sp-yt {
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	color: $greyscale-1;
	background: transparent;
	&:hover {
		transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-webkit-transition: .25s ease-in-out;
		color: $off-white;
		background: #fe0000;
	}
}

#sp-pi {
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	color: $greyscale-1;
	background: transparent;
	&:hover {
		transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-webkit-transition: .25s ease-in-out;
		color: $off-white;
		background: #e60023;
	}
}

#sp-sn {
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	color: $greyscale-1;
	background: transparent;
	&:hover {
		transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-webkit-transition: .25s ease-in-out;
		color: $off-black;
		background: #fcfd00;
		text-decoration: none;
	}
}

#sp-fl {
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	color: $greyscale-1;
	background: transparent;
	&:hover {
		transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-webkit-transition: .25s ease-in-out;
		color: $off-white;
		background: linear-gradient(90deg, rgba(13,97,204,1) 0%, rgba(13,97,204,1) 50%, rgba(247,0,124,1) 50%, rgba(247,0,124,1) 100%);
	}
}

#sp-gr {
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	color: $greyscale-1;
	background: transparent;
	&:hover {
		transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-webkit-transition: .25s ease-in-out;
		color: $off-white;
		background: #463020;
		text-decoration: none;
	}
}

#sp-te {
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	color: $greyscale-1;
	background: transparent;
	&:hover {
		transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-webkit-transition: .25s ease-in-out;
		color: $off-white;
		background: $penta-0;
		text-decoration: none;
	}
}

#sp-em {
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	color: $greyscale-1;
	background: transparent;
	&:hover {
		transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-webkit-transition: .25s ease-in-out;
		color: $off-white;
		background: $penta-0;
		text-decoration: none;
	}
}

#sp-go {
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	color: $greyscale-1;
	background: transparent;
	&:hover {
		transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-webkit-transition: .25s ease-in-out;
		color: $off-white;
		background: $penta-0;
		text-decoration: none;
	}
}
