#g-header {
	background: $header-background;
	color: $header-text-color;
	position: relative;
	z-index: 980;
	border-bottom: 4px solid $messages-background;

	a {
		color: $primary-color;
		&:hover {
			color: $complementary-color-2;
		}
	}

	.search {
		input {
			color: $main-text-color;
		}
	}
}

@media print {
	#g-header {
		background: #fff !important;
		color: #000 !important;
	}
}
