#g-header {
	background: $off-white;
	color: $penta-0;
	border-bottom: 3px solid $penta-0;

	a {
		color: $penta-0;
		&:hover {
			color: $penta-0-35;
			text-shadow: 0px 0px 1px $greyscale-2;
		}
	}
}

@media print {
	#g-header {
		background: #fff !important;
		color: #000 !important;
	}
}
