#g-hero {
	background: $off-white;
	color: $off-black;
	a {
		color: $off-black;
		&:hover {
			color: $off-black;
			text-decoration: underline;
		}
	}
}

@media print {
	#g-hero {
		background: #fff !important;
		color: #000 !important;
	}
}

.sp-hero-button {
	background: $penta-0 !important;
	&:hover {
		background: $penta-0-35 !important;
	}
}
