#g-messages {
	background: linear-gradient(10deg, $penta-0 0%, (darken($penta-0, 5)) 100%);
	color: $off-white;
	text-align: center;
	a {
		color: $off-white;
		&:hover {
			color: $off-white;
			text-decoration: underline;
		}
	}
}

@media print {
	#g-messages {
		background: #000 !important;
		color: #fff !important;
	}
}

.sp-hero-button {
	border: unset !important;
	color: $off-white !important;
	&:hover {
		border: unset !important;
		color: $off-white !important;
	}
}
