#g-programs {
	background: $off-white;
	color: $off-black;
	a {
		color: $off-black;
		&:hover {
			color: $off-black;
			text-decoration: underline;
		}
	}
}

@media print {
	#g-programs {
		background: #fff !important;
		color: #000 !important;
	}
}
