#g-programs {
	background: $programs-background;
	color: $programs-text-color;
	position: relative;
	z-index: 3;

	a {
		color: $programs-link-color;
		&:hover {
			color: $programs-link-hover;
		}
	}


	.search {
		input {
			color: $main-text-color;
		}
	}
}

@media print {
	#g-programs {
		background: #fff !important;
		color: #000 !important;
	}
}

.sp-programs-title {
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.sp-programs-title-icon {
	color: $square-color-4 !important;
}

.sp-programs-color {
	color: $square-color-4 !important;
}

.sp-programs-excerpt {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding-bottom: 10px;
	border-bottom-color: $square-color-4 !important;
}
