#g-resources {
	background: linear-gradient(10deg, $resources-background 0%, $resources-background-2 100%);
	color: $resources-text-color;
	position: relative;
	z-index: 3;

	a {
		color: $resources-link-color;
		&:hover {
			color: $resources-link-hover;
		}
	}

	.search {
		input {
			color: $main-text-color;
		}
	}
}

@media print {
	#g-resources {
		background: #fff !important;
		color: #000 !important;
	}
}

.sp-databases-title {
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.sp-databases-title-icon {
	color: $greyscale-5 !important;
}

.sp-selector-color {
	color: $tetradic-color-3 !important;
}
