#g-resources {
	background: linear-gradient(10deg, $penta-288 0%, (darken($penta-288, 5)) 100%);
	color: $off-white;
	a {
		color: $off-white;
		&:hover {
			color: $off-white;
			text-decoration: underline;
		}
	}
}

@media print {
	#g-resources {
		background: #fff !important;
		color: #000 !important;
	}
}
