#g-subscribe {
	background: linear-gradient(10deg, $greyscale-0 0%, (darken($greyscale-0, 5)) 100%);
	color: $off-black;
	a {
		color: $off-black;
		&:hover {
			color: $off-black;
			text-decoration: underline;
		}
	}
}

@media print {
	#g-subscribe {
		background: #fff !important;
		color: #000 !important;
	}
}
